<% if @question.errors.any? %>
  <ul class="mb-5 p-4 rounded-lg bg-red-100 text-red-800 border border-red-200">
    <% @question.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= render @question %>

<% if @question.published? %>
  <% if user_signed_in? %>
    <!-- Write Answer -->
    <%= render partial: 'write_answer_btn', locals: { question: @question } %>
  <% end %>

  <p class="max-w-6xl mx-auto mt-6 mb-3 px-1 text-xl font-semibold text-gray-600">
    Answers
  </p>
  
  <!-- Answers -->
  <%= turbo_frame_tag id="answers_frame" do %>
    <div class="max-w-6xl mx-auto mt-8 space-y-6">
      <%= render partial: 'answers/answer', collection: @question.answers, as: :answer %>
    </div>
  <% end %>
<% end %>
