<%= turbo_frame_tag dom_id(comment) do %>
  <div class="max-w-6xl ml-10 mt-4 bg-[#FCFCFD] rounded-xl px-4 py-3 border border-gray-200 shadow-xs">

    <!-- User + Actions -->
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <%= render partial: "shared/user_details", locals: { user: comment.user } %>
      </div>

      <div class="flex items-center gap-1 text-gray-400">

        <!-- Reported status -->
        <% if comment.reported_by(current_user) %>
          <span class="px-3 py-1 text-xs font-semibold rounded-full bg-rose-50 text-rose-600 border border-rose-200">
            Reported
          </span>
        <% end %>

        <!-- Report btn -->
        <%= render "shared/report_button", reportable: comment %>
  
        <% if comment.user == current_user %>
          <!-- Edit -->
          <%= link_to edit_polymorphic_path(set_parent_chain(comment.commentable) + [comment]),
                data: { turbo_frame: "edit_comment_#{comment.id}" },
                class: "p-1.5 rounded hover:bg-violet-100 hover:text-violet-600 transition text-sm" do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>

          <!-- Delete -->
          <%= link_to polymorphic_path(set_parent_chain(comment.commentable)+ [comment]),
                data: { turbo_method: :delete, turbo_confirm: "Delete this comment?" },
                class: "p-1.5 rounded hover:bg-red-100 hover:text-red-600 transition text-sm" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        <% end %>

      </div>
    </div>

    <!-- Time -->
    <p class="text-[11px] text-gray-400 mt-1">
      <%= comment.created_at >= 1.day.ago ? time_ago_in_words(comment.created_at) + " ago" : comment.posted_at_date %>
    </p>

    <!-- Content -->
    <%= turbo_frame_tag id="edit_comment_#{comment.id}" do %>
      <div class="text-gray-700 text-sm leading-relaxed mt-2">
        <%= markdown(comment.content) %>
      </div>
    <% end %>

    <!-- Votes -->
    <div class="mt-2 flex items-center gap-2">
      <%= render partial: 'votes/vote_button', locals: { votable: comment } %>
    </div>

  </div>
<% end %>