<%= turbo_frame_tag dom_id(topic) do %>
  <div class="flex items-center justify-between px-4 py-3 border-b border-gray-200">

    <div class="flex items-center gap-12 text-md">
      
      <span class="text-gray-900 w-40 truncate">
        <%= topic.name %>
      </span>

      <span class="text-gray-600 w-12">
        <%= topic.questions.size %> Q
      </span>

      <span class="text-gray-600 w-12">
        <%= topic.users.count %> U
      </span>

    </div>

    <%= button_to admin_topic_path(topic),
          method: :delete,
          class: "text-xs text-gray-400 hover:text-gray-700 transition" do %>
      Delete
    <% end %>

  </div>
<% end %>