<%= turbo_frame_tag dom_id(answer) do %>
<div class="max-w-6xl mx-auto border-l-3 border-violet-200 bg-white px-6 py-3 my-8 space-y-3 ">

  <!-- User + Time -->
  <div class="flex items-center justify-between">
    <%= render partial: "shared/user_details", locals: { user: answer.user } %>

    <div class="flex items-center gap-1 text-gray-500">

      <!-- Reported status -->
      <% if answer.reported_by(current_user) %>
        <span class="px-3 py-1 text-xs font-semibold rounded-full bg-rose-50 text-rose-600 border border-rose-200">
          Reported
        </span>
      <% end %>

      <!-- Abuse tag -->
      <%= render 'shared/abusive_tag', reportable: answer %>

      <% if answer.user == current_user %>
        <!-- Edit Button -->
        <%= link_to edit_question_answer_path(answer.question, answer),
              data: { turbo_frame: "edit_answer_#{answer.id}" },
              class: "p-2 rounded hover:bg-violet-100 hover:text-violet-600 transition" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>

        <!-- Delete Button -->
        <%= link_to question_answer_path(answer.question, answer),
              data: { turbo_method: :delete, turbo_confirm: "Delete this answer?" },
              class: "p-2 rounded hover:bg-red-100 hover:text-red-600 transition" do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      <% end %>

      <!-- Report button -->
      <%= render "shared/report_button", reportable: answer %>
    </div>
  </div>

  <p class="text-xs text-gray-400">
      <%= answer.created_at >= 1.day.ago ? time_ago_in_words(answer.created_at) + " ago" : answer.posted_at_date %>
  </p>

  <!-- Content -->
  <%= turbo_frame_tag id="edit_answer_#{answer.id}" do %>
    <div class="text-gray-700 leading-relaxed prose prose-sm max-w-none">
      <%= markdown(answer.content) %>
    </div>
  <% end %>

  <div class="mt-8 py-4 border-t border-neutral-200 flex items-center justify-between">

      <!-- LEFT: Votes -->
      <div class="flex items-center gap-2">
        <%= render partial: 'votes/vote_button', locals: { votable: answer } %>
      </div>

      <!-- RIGHT: Comment Count + Post Button -->
      <div class="flex items-center gap-4">

        <!-- Comments Count -->
        <div class="text-sm text-gray-500 flex items-center gap-2 hover:text-violet-600 transition">
          <i class="fa-regular fa-comment text-base"></i>
          <span>
            <%= turbo_frame_tag dom_id(answer, :comments_count) do %>
              <%= answer.comments.size %>
            <% end %>
            comments
          </span>
        </div>

      </div>
    </div>

    <% if user_signed_in? %>
          <%= render partial: 'comments/post_comment_btn',
                     locals: { commentable: answer } %>
        <% end %>
  </div>

  <!-- Comments -->
  <%= turbo_frame_tag nested_dom_id(answer, :comments_frame) do %>
    <div class="relative pl-6 border-l border-gray-300">
      <%= render partial: 'comments/comment', collection: answer.comments, as: :comment %>
    </div>
  <% end %>
<% end %>