<%= turbo_frame_tag dom_id(answer) do %>
<div class="max-w-6xl mx-auto border-l-3 border-violet-200 bg-white px-6 py-3 my-8 space-y-3 ">

  <!-- User + Time -->
  <div class="flex items-center justify-between">
    <%= render partial: "shared/user_details", locals: { user: answer.user } %>

    <% if answer.user == current_user %>
        <div class="flex items-center gap-1 text-gray-500">
          <!-- Edit Button -->
          <%= link_to edit_question_answer_path(answer.question, answer),
                data: { turbo_frame: "edit_answer_frame" },
                class: "p-2 rounded hover:bg-violet-100 hover:text-violet-600 transition" do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>

          <!-- Delete Button -->
          <%= link_to question_answer_path(answer.question, answer),
                data: { turbo_method: :delete, turbo_confirm: "Delete this answer?" },
                class: "p-2 rounded hover:bg-red-100 hover:text-red-600 transition" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      <% end %>
  </div>

  <p class="text-xs text-gray-400">
      <%= answer.created_at >= 1.day.ago ? time_ago_in_words(answer.created_at) + " ago" : answer.posted_at_date %>
  </p>

  <!-- Content -->
  <%= turbo_frame_tag id="edit_answer_frame" do %>
    <div class="text-gray-700 leading-relaxed prose prose-sm max-w-none">
      <%= markdown(answer.content) %>
    </div>
  <% end %>

  <div class="mt-4 flex items-center gap-2">
        <%= render partial: 'votes/vote_button', locals: { votable: answer } %>
  </div>
</div>
<% end %>